.movename{
    float: left;
}
.list-group{
    text-align: center;

}
.movetype{
    float: right;
}
.movedamage{
    float: right;
}
.card{
    display: inline-block;
    margin: 15px;
}