<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andreklussen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/andreklussen.css">
</head>
<body>
<div id="wrapper">
<nav class="">
    <div class="navbar navbar-light navCont">
        <img src="../imgs/logo.png" alt="logo">
        <ul>
            <li><a href="">Home</a></li>
            <li><a>Over ons</a></li>
            <li><a>Gallerij</a></li>
            <li><a>Offertes</a></li>
            <li><a>Contact</a></li>
        </ul>
        </div>
</nav>
<div id="container">