.container {
    width: 1580px;
    margin: 0px auto;
    height: 920px;
    background-size: 1580px 920px;
}

h1 {
    text-align: center;
    padding-top: 400px;
    color: white;
    font-size: 75px;
    font-family: 'Oleo Script', cursive;

}
#morning {
    background-image: url('../Weekopdracht/morning.png');
}
#middag {
    background-image: url('../Weekopdracht/afternoon.png');
}
#avond {
    background-image: url('../Weekopdracht/evening.png');
}
#nacht {
    background-image: url('../Weekopdracht/night.png');
}