nav{
    background-color: #e3f2fd;
}

nav > div > ul{
    margin: 0px;
    padding-top: 2em;

    font-weight: bold;
    float:right;
}
nav > div > ul > li{
    display: inline;
    float:left;
    color: #133c6b;
}
nav > div > ul > li > a{
    padding: 1rem 2rem;
    line-height: 0px;
    color: inherit;
}
nav > div > ul > li > a:hover{
    background: rgb(205, 229, 253);
    text-decoration: none;
    color: inherit;
}

div.navCont{
    max-width: 1000px;
    margin: 0px auto;
}
div.navCont > ul{
    display: block;
    text-align: right;
}
#logo{
    width: auto;
    height: 75px;
    margin: 0px auto;
}
.footer{
    color: #133c6b;
    text-align: center;
    font-weight: bold;
    position: relative;
    background-color: #e3f2fd;
}
.footer-text{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 1000px;
    text-align: center;
    margin: 50px auto 50px auto;
}
.item {
    position: relative;
    text-align: center;
    color: white;
}
.slider-text{
    position: absolute;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info {
    display: inline-block;
    width: 300px;
    margin-top: 0px;
    vertical-align: top;
}

.info > p {
    margin: 0px;
}

html, body {
    height: 100%;
    background-color: #afd2ff;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.footer,
.push {
    height: 50px;
}